

@model BookVM

@{
    ViewData["Title"] = "Details";
}

<div class="container">
   <table class="table table-striped">
       <tr>
           <td> Name</td>
           <td>Email</td>
           <td>Phone</td>
           <td>TimeCategory</td>
           <td>TotalPeople</td>
           <td> Message</td>
       </tr>
   </table>
</div>